<div class="signupbg">
  <div class="signupform">
    <%= form_for(@user) do |f| %>
     <div class="signupdiv"><%= f.text_field :first_name, :placeholder => "First name" %></div>
     <div class="signupdiv"><%= f.text_field :last_name, :placeholder => "Last name" %></div>
     <div class="signupdiv"><%= f.email_field :email, :placeholder => "Email" %></div>
     <div class="signupdiv"><%= f.password_field :password, :placeholder => "Password" %></div>
     <div class="signupdiv"><%= f.submit "Create an account", class: "button" %></div>
   <% end %>
  </div>
</div>
