
<div class="mediabox">
  <% @media.each do |medium| %>
    <div class="mediumbox">
      <div class="titleyear">
        <% if medium.release_date %>
          <%= medium.title %> (<%= medium.release_date.year %>)
        <% else %>
          <%= medium.title %>
        <% end %>
      </div>
      <div class="mediumimage">
        <% if medium.image %>
          <%= image_tag medium.image, style: 'height:250px' %>
        <% end %>
      </div>
    </div>
  <% end %>
  <%= will_paginate @views %>
</div>
