<!DOCTYPE html>
<html>
  <head>
    <title>Mymedialist</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<link href="application.css" type="text/css" rel="stylesheet">

  </head>

  <body>
      <div class="nav">
        <ul class="leftnav">
          <li>MyMediaList</li>
          <li>Movies</li>
          <li>TV</li>
        </ul>
        <ul class="rightnav">
          <li>Searchbarrrrrrrrrr</li>
          <li>MyList</li>
          <li>Notif</li>
        <% if current_user %>
          <li><%= link_to "Log out", logout_path, method: "delete" %></li>
        <% else %>
          <li><%= link_to "Login", 'login' %></li>
        </ul>
        <% end %>
      </div>
          <%= yield %>
  </body>
</html>
