<!DOCTYPE html>
<html>
  <head>
    <title>Mymedialist</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag params[:controller], media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Righteous|Poppins&display=swap" rel="stylesheet">
  </head>

  <body>
    <% unless params[:controller] == "pages" && params[:action] == "home" %>
      <div class="nav">
        <ul class="leftnav">
          <li>MyMediaList</li>
          <li>Movies</li>
          <li>TV</li>
        </ul>
        <ul class="rightnav">
          <li>MyList</li>
          <li>Notif</li>
        <% if current_user %>
          <li><%= link_to "Log out", logout_path, method: "delete" %></li>
        <% else %>
          <li><%= link_to "Login", 'login' %></li>
        <% end %>
        </ul>
        <div class="centernav">
            <input id="searchBar" class="searchbar" type="text" placeholder="Search Movies and TV...">
            <button id="btnSearch" class="btn-search" onclick="search()">
              <i class="fa fa-search searchicon"></i>
            </button>
        </div>
      </div>
    <% end %>
    <%= yield %>
    <script>
      function search() {
        term = document.getElementById('searchBar').value
        window.location = '/media?term=' + encodeURI(term);
      }
    </script>
  </body>
</html>
