<!DOCTYPE html>
<html>
  <head>
    <title>Mymedialist</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<link href="application.css" type="text/css" rel="stylesheet">

  </head>

  <body>
      <div class="nav">
        <div class="leftnav">
          <ul class="leftnavitems">
            <li><p class="title">MyMediaList</p></li>
            <li><p class="navitems">Movies</p></li>
            <li><p class="navitems">TV</p></li>
          </ul>
        </div>

        <div class="rightnav">
          <% if current_user %>
            <ul class="rightnavitems">
                  <li><%= link_to "Log out", logout_path, method: "delete" %></li>
            </ul>
          <% else %>
            <ul class="rightnavitems">
              <li><%= link_to "Login", 'login' %></li>
            </ul>
          <% end %>
        </div>
      </div>
          <%= yield %>
  </body>
</html>
